# Importación de librerias

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
print("Versión pandas",pd.__version__)
!python --version

Versión pandas 2.0.2
Python 3.11.3

# Cargar datos

In [35]:
CWD = os.getcwd()
DATA_PATH = os.path.join(CWD,"data")
FILE_NAME = "2017_accidents_causa_conductor_gu_bcn_.csv"
accidents_causa = os.path.join(DATA_PATH,FILE_NAME)

In [36]:
CWD_1 = os.getcwd()
DATA_PATH_1 = os.path.join(CWD_1,"data")
FILE_NAME_1 = "2017_lloguer_preu_trim.csv"
lloguer = os.path.join(DATA_PATH_1,FILE_NAME_1)

In [37]:
CWD_2 = os.getcwd()
DATA_PATH_2 = os.path.join(CWD_2,"data")
FILE_NAME_2 = "2017_poblacio_exposada_barris_mapa_estrategic_soroll_bcn_long.csv"
poblacio_soroll = os.path.join(DATA_PATH_2,FILE_NAME_2)

In [39]:
df_accidents = pd.read_csv(accidents_causa)
df_lloguer = pd.read_csv(lloguer)
df_poblacio = pd.read_csv(poblacio_soroll)

# Creamos una función simple para hacer un report simple sobre los DataFrame suministrados

In [8]:
def report_df(dataframe, verbose = True):
    print("El tamaño del dataset es", dataframe.shape[0], "filas y", dataframe.shape[1], "columnas")
    print()
    print(dataframe.info(verbose = verbose))
    total_nulos = dataframe.isnull().sum().sum()
    print()
    print(f"Tenemos un total de {total_nulos} nulos")

In [40]:
report_df(df_accidents)

df_accidents.head(2)

El tamaño del dataset es 11091 filas y 20 columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11091 entries, 0 to 11090
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Numero_expedient            11091 non-null  object
 1   Codi_districte              11091 non-null  int64
 2   Nom_districte               11091 non-null  object
 3   Codi_barri                  11091 non-null  int64
 4   Nom_barri                   11091 non-null  object
 5   Codi_carrer                 11091 non-null  int64
 6   Nom_carrer                  11091 non-null  object
 7   Num_postal                  11089 non-null  object
 8   Descripcio_dia_setmana      11091 non-null  object
 9   NK_Any                      11091 non-null  int64
 10  Mes_any                     11091 non-null  int64
 11  Nom_mes                     11091 non-null  object
 12  Dia_mes                     11091 non-null  int64
 13  Hora_dia                    11091 non-null  int64
 14  Descripcio_torn             11091 non-null  object
 15  Descripcio_causa_conductor  11091 non-null  object
 16  Coordenada_UTM_X_ED50       11091 non-null  float64
 17  Coordenada_UTM_Y_ED50       11091 non-null  float64
 18  Longitud                    11091 non-null  float64
 19  Latitud                     11091 non-null  float64
dtypes: float64(4), int64(7), object(9)
memory usage: 1.7+ MB
None

Tenemos un total de 2 nulos

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,NK_Any,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_torn,Descripcio_causa_conductor,Coordenada_UTM_X_ED50,Coordenada_UTM_Y_ED50,Longitud,Latitud
0,2017S004939,-1,Desconegut,-1,Desconegut,-1,Motors ...,43-51,Dimarts,2017,6,Juny,6,8,Desobeir altres senyals,Matí,427585.89,4577869.16,2.191767,41.411606
1,2017S007937,-1,Desconegut,-1,Desconegut,-1,Joan XXIII / Martí i Franquès ...,NaN,Dimarts,2017,9,Setembre,26,9,Gir indegut o sense precaució,Matí,426505.49,4581655.96,2.199239,41.419635

In [41]:
report_df(df_lloguer)

df_lloguer.head(2)

El tamaño del dataset es 584 filas y 8 columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Any             584 non-null    int64
 1   Trimestre       584 non-null    int64
 2   Codi_Districte  584 non-null    int64
 3   Nom_Districte   584 non-null    object
 4   Codi_Barri      584 non-null    int64
 5   Nom_Barri       584 non-null    object
 6   Lloguer_mitja   584 non-null    object
 7   Preu            546 non-null    float64
dtypes: float64(1), int64(4), object(3)
memory usage: 36.6+ KB
None

Tenemos un total de 38 nulos

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2017,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),734.99
1,2017,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),905.26

In [11]:
report_df(df_poblacio)

df_poblacio.head(2)

El tamaño del dataset es 18980 filas y 7 columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18980 entries, 0 to 18979
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Codi_Districte  18980 non-null  int64
 1   Nom_Districte   18980 non-null  object
 2   Codi_Barri      18980 non-null  int64
 3   Nom_Barri       18980 non-null  object
 4   Concepte        18980 non-null  object
 5   Rang_soroll     18980 non-null  object
 6   Valor           18980 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.0+ MB
None

Tenemos un total de 0 nulos

,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Concepte,Rang_soroll,Valor
0,1,Ciutat Vella,1,el Raval,TOTAL_D,<40 dB,7.73%
1,1,Ciutat Vella,1,el Raval,TOTAL_D,40-45 dB,26.98%

In [42]:
df_accidents.isnull().sum()

Numero_expedient              0
Codi_districte                0
Nom_districte                 0
Codi_barri                    0
Nom_barri                     0
Codi_carrer                   0
Nom_carrer                    0
Num_postal                    2
Descripcio_dia_setmana        0
NK_Any                        0
Mes_any                       0
Nom_mes                       0
Dia_mes                       0
Hora_dia                      0
Descripcio_torn               0
Descripcio_causa_conductor    0
Coordenada_UTM_X_ED50         0
Coordenada_UTM_Y_ED50         0
Longitud                      0
Latitud                       0
dtype: int64

#### En el DataFrame de accidents, he visto que hay columnas que tienen un espacio blanco  al final(invisible a priori), que genera problemas para buscar/filtrar si no lo tenemos en cuenta, como se puede observar en la siguiente línea de código, así que buscaré que columnas les sucede eso y las renombrare para evitar futuros problemas de búsqueda. Ya que estamos limpiamos y aplicamos los espacios para todos los Dataframe

In [14]:
df_accidents.columns

Index(['Numero_expedient', 'Codi_districte', 'Nom_districte', 'Codi_barri',
       'Nom_barri', 'Codi_carrer', 'Nom_carrer', 'Num_postal ',
       'Descripcio_dia_setmana', 'NK_Any', 'Mes_any', 'Nom_mes', 'Dia_mes',
       'Hora_dia', 'Descripcio_torn', 'Descripcio_causa_conductor',
       'Coordenada_UTM_X_ED50', 'Coordenada_UTM_Y_ED50', 'Longitud',
       'Latitud'],
      dtype='object')

In [15]:
'Num_postal ' # Tiene espacio en blanco al final

'Num_postal '

In [16]:
df_accidents.columns = df_accidents.columns.str.replace(" ","")
df_lloguer.columns = df_lloguer.columns.str.replace(" ","")
df_poblacio.columns = df_poblacio.columns.str.replace(" ","")

In [17]:
df_accidents[df_accidents["Num_postal"].isnull()]

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,NK_Any,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_torn,Descripcio_causa_conductor,Coordenada_UTM_X_ED50,Coordenada_UTM_Y_ED50,Longitud,Latitud
1,2017S007937,-1,Desconegut,-1,Desconegut,-1,Joan XXIII / Martí i Franquès ...,NaN,Dimarts,2017,9,Setembre,26,9,Gir indegut o sense precaució,Matí,426505.49,4581655.96,2.199239,41.419635
3,2017S008779,-1,Desconegut,-1,Desconegut,-1,Número 6 Zona Franca / A Zona Franca ...,NaN,Dilluns,2017,10,Octubre,23,22,Desobeir altres senyals,Nit,427519.99,4575229.36,2.190955,41.406769

In [33]:
df_accidents[df_accidents['Coordenada_UTM_X_ED50']==426505.49]

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,NK_Any,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_torn,Descripcio_causa_conductor,Coordenada_UTM_X_ED50,Coordenada_UTM_Y_ED50,Longitud,Latitud
1,2017S007937,-1,Desconegut,-1,Desconegut,-1,Joan XXIII / Martí i Franquès ...,NaN,Dimarts,2017,9,Setembre,26,9,Gir indegut o sense precaució,Matí,426505.49,4581655.96,2.199239,41.419635
2799,2017S007937,-1,Desconegut,-1,Desconegut,-1,Desconegut,Desconegut,Dimarts,2017,9,Setembre,26,9,Desobeir altres senyals,Matí,426505.49,4581655.96,2.119917,41.381227
4983,2017S001815,4,Les Corts,19,les Corts,172403,Joan Güell,0203X0203X,Diumenge,2017,3,Març,5,12,No respectar distàncies,Matí,426505.49,4581655.96,2.119917,41.381227

In [27]:
df_accidents[df_accidents['Nom_carrer'].str.contains("Número 6 Zona Franca",regex=False)]

,Numero_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,NK_Any,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_torn,Descripcio_causa_conductor,Coordenada_UTM_X_ED50,Coordenada_UTM_Y_ED50,Longitud,Latitud
3,2017S008779,-1,Desconegut,-1,Desconegut,-1,Número 6 Zona Franca / A Zona Franca ...,NaN,Dilluns,2017,10,Octubre,23,22,Desobeir altres senyals,Nit,427519.99,4575229.36,2.190955,41.406769
733,2017S008207,3,Sants-Montjuïc,12,la Marina del Prat Vermell,370531,Número 6 Zona Franca,0074 0074,Dijous,2017,10,Octubre,5,6,No determinada,Matí,426702.23,4575207.50,2.123049,41.323166
2183,2017S009768,3,Sants-Montjuïc,12,la Marina del Prat Vermell,370531,Número 6 Zona Franca,0052 0052,Divendres,2017,11,Novembre,24,9,Desobeir altres senyals,Matí,427519.99,4575229.36,2.132817,41.323437
3468,2017S006313,3,Sants-Montjuïc,12,la Marina del Prat Vermell,370531,Número 6 Zona Franca,0097 0111,Dimecres,2017,7,Juliol,19,17,Desconegut,Tarda,425967.66,4575584.75,2.114227,41.326497
4839,2017S002233,3,Sants-Montjuïc,12,la Marina del Prat Vermell,370531,Número 6 Zona Franca,0087 0087,Dilluns,2017,3,Març,20,13,Manca d'atenció a la conducció,Matí,426266.43,4576025.75,2.117743,41.330496
7597,2017S010516,3,Sants-Montjuïc,12,la Marina del Prat Vermell,370531,Número 6 Zona Franca,0074 0074,Dimecres,2017,12,Desembre,20,8,Manca d'atenció a la conducció,Matí,426702.23,4575207.50,2.123049,41.323166

In [54]:
df_poblacio.isnull().sum()

Codi_Districte    0
Nom_Districte     0
Codi_Barri        0
Nom_Barri         0
Concepte          0
Rang_soroll       0
Valor             0
dtype: int64

In [55]:
df_lloguer.isnull().sum()

Any                0
Trimestre          0
Codi_Districte     0
Nom_Districte      0
Codi_Barri         0
Nom_Barri          0
Lloguer_mitja      0
Preu              38
dtype: int64

In [56]:
df_lloguer[df_lloguer['Preu'].isnull()]

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
11,2017,1,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
41,2017,1,7,Horta-Guinardó,42,la Clota,Lloguer mitjà mensual (Euros/mes),NaN
46,2017,1,8,Nou Barris,47,Can Peguera,Lloguer mitjà mensual (Euros/mes),NaN
55,2017,1,8,Nou Barris,56,Vallbona,Lloguer mitjà mensual (Euros/mes),NaN
57,2017,1,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà mensual (Euros/mes),NaN
84,2017,2,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
114,2017,2,7,Horta-Guinardó,42,la Clota,Lloguer mitjà mensual (Euros/mes),NaN
126,2017,2,8,Nou Barris,54,Torre Baró,Lloguer mitjà mensual (Euros/mes),NaN
130,2017,2,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà mensual (Euros/mes),NaN
157,2017,3,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
187,2017,3,7,Horta-Guinardó,42,la Clota,Lloguer mitjà mensual (Euros/mes),NaN
192,2017,3,8,Nou Barris,47,Can Peguera,Lloguer mitjà mensual (Euros/mes),NaN
201,2017,3,8,Nou Barris,56,Vallbona,Lloguer mitjà mensual (Euros/mes),NaN
203,2017,3,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà mensual (Euros/mes),NaN
230,2017,4,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
260,2017,4,7,Horta-Guinardó,42,la Clota,Lloguer mitjà mensual (Euros/mes),NaN
265,2017,4,8,Nou Barris,47,Can Peguera,Lloguer mitjà mensual (Euros/mes),NaN
274,2017,4,8,Nou Barris,56,Vallbona,Lloguer mitjà mensual (Euros/mes),NaN
276,2017,4,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà mensual (Euros/mes),NaN
303,2017,1,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
333,2017,1,7,Horta-Guinardó,42,la Clota,Lloguer mitjà per superfície (Euros/m2 mes),NaN
338,2017,1,8,Nou Barris,47,Can Peguera,Lloguer mitjà per superfície (Euros/m2 mes),NaN
347,2017,1,8,Nou Barris,56,Vallbona,Lloguer mitjà per superfície (Euros/m2 mes),NaN
349,2017,1,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà per superfície (Euros/m2 mes),NaN
376,2017,2,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
406,2017,2,7,Horta-Guinardó,42,la Clota,Lloguer mitjà per superfície (Euros/m2 mes),NaN
418,2017,2,8,Nou Barris,54,Torre Baró,Lloguer mitjà per superfície (Euros/m2 mes),NaN
422,2017,2,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà per superfície (Euros/m2 mes),NaN
449,2017,3,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
479,2017,3,7,Horta-Guinardó,42,la Clota,Lloguer mitjà per superfície (Euros/m2 mes),NaN
484,2017,3,8,Nou Barris,47,Can Peguera,Lloguer mitjà per superfície (Euros/m2 mes),NaN
493,2017,3,8,Nou Barris,56,Vallbona,Lloguer mitjà per superfície (Euros/m2 mes),NaN
495,2017,3,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà per superfície (Euros/m2 mes),NaN
522,2017,4,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
552,2017,4,7,Horta-Guinardó,42,la Clota,Lloguer mitjà per superfície (Euros/m2 mes),NaN
557,2017,4,8,Nou Barris,47,Can Peguera,Lloguer mitjà per superfície (Euros/m2 mes),NaN
566,2017,4,8,Nou Barris,56,Vallbona,Lloguer mitjà per superfície (Euros/m2 mes),NaN
568,2017,4,9,Sant Andreu,58,Baró de Viver,Lloguer mitjà per superfície (Euros/m2 mes),NaN

In [58]:
df_lloguer[df_lloguer['Nom_Barri']=='la Marina del Prat Vermell']

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
11,2017,1,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
84,2017,2,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
157,2017,3,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
230,2017,4,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà mensual (Euros/mes),NaN
303,2017,1,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
376,2017,2,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
449,2017,3,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN
522,2017,4,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Lloguer mitjà per superfície (Euros/m2 mes),NaN

In [60]:
df_lloguer[df_lloguer['Nom_Districte']=='Sants-Montjuïc']['Codi_Barri'].unique()

array([11, 12, 13, 14, 15, 16, 17, 18], dtype=int64)

In [63]:
df_lloguer[df_lloguer['Nom_Districte']=='Sants-Montjuïc']['Preu'].unique()

array([715.71,    nan, 689.16, 806.34, 680.17, 739.35, 697.58, 737.27,
       756.8 , 634.28, 785.02, 749.61, 760.98, 766.05, 780.27, 759.87,
       711.93, 817.64, 777.64, 861.69, 796.5 , 812.48, 760.23, 728.07,
       827.36, 771.78, 786.53, 772.86, 806.56,  13.02,   9.88,  12.59,
        12.36,  10.86,  12.91,  12.96,  13.95,   9.86,  12.39,  12.33,
        11.89,  12.97,  12.85,  13.52,  10.89,  13.48,  13.55,  12.87,
        13.4 ,  13.31,  14.12,  10.73,  13.34,  13.19,  11.96,  13.29,
        13.49])